.contentContainer {
  width: calc(100% - 90px);
  display: flex;
  flex-direction: column;
  background-color: white;
  border-radius: 0 0 30px 30px;
  gap: 40px;
  padding: 20px 45px 40px 45px;
}

.content {
  border: 1px solid #adb0d9;
  border-radius: 20px;
}

.buttonContainer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  background-color: transparent;
  padding: 0 20px 20px 20px;
}

.inputContainer {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;

  .textarea {
    width: calc(100%);
    outline: none;
    border: none;
    resize: none;
    color: #686868;
    font-size: 18px;
    font-weight: 400;
    height: 60px;
    overflow: auto;
    padding: 20px 20px 0 20px;
    line-height: 36px;
  }
}

button {
  border: none;
  background-color: transparent;
}

.tagContainer {
  position: absolute;
  transform: translateY(calc(-100% - 146px - 20px - 40px)) translateX(45px);
  display: flex;
  flex-direction: column;
  gap: 16px;
  background-color: white;
  padding: 16px;
  border-radius: 30px;
  border: 1px solid #d9d9d9;
  max-height: 40vh;
  overflow: auto;
}

.placeholder {
  pointer-events: none;
}
