<!-- channel component -->
<div
  class="contentContainer"
  [ngClass]="{
    transition55: (threadOpen$ | async) && (sidebarOpen$ | async),
    transition75: (threadOpen$ | async) && !(sidebarOpen$ | async),
    transition80: !(threadOpen$ | async) && (sidebarOpen$ | async),
    transition100: !(threadOpen$ | async) && !(sidebarOpen$ | async),
  }"
>
  <div class="content">
    <button [routerLink]="['/home/channel/' + channelId + '/sidebar']">
      home/channel/sidebar
    </button>
    <button [routerLink]="['/home/channel']">home/channel</button>
    <button
      [routerLink]="[
        '/home/channel/' + channelId + '/thread/' + thradId + '/sidebar'
      ]"
    >
      home/channel/thread/sidebar
    </button>
    <button
      [routerLink]="['/home/channel/' + channelId + '/thread/' + thradId]"
    >
      home/channel/thread
    </button>
  </div>
</div>
