.contentContainer {
  width: 100vw;
  height: 100vh;
  background-color: green;
}
.content {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
@keyframes transitionTo100 {
  from {
    margin-left: 20vw;
    width: 55vw;
  }
  to {
    margin-left: 0;
    width: 100vw;
  }
}

@keyframes transitionTo80 {
  from {
    margin-left: 0;
    width: 100vw;
  }
  to {
    margin-left: 20vw;
    width: 80vw;
  }
}

@keyframes transitionTo75 {
  from {
    width: 100vw;
  }
  to {
    width: 75vw;
  }
}

@keyframes transitionTo55 {
  from {
    margin-left: 0;
    width: 100vw;
  }
  to {
    margin-left: 20vw;
    width: 55vw;
  }
}

.transition100 {
  animation: transitionTo100 5s linear forwards;
}

.transition80 {
  animation: transitionTo80 5s linear forwards;
}

.transition75 {
  animation: transitionTo75 5s linear forwards;
}

.transition55 {
  animation: transitionTo55 5s linear forwards;
}

.transition {
  animation: transition 5s linear forwards;
}

.noTransition {
  transition: none !important;
}
