<div class="contentContainer" [ngClass]="getClass()">
  <div class="content">
    <button [routerLink]="['/home/channel/' + channelId + '/sidebar']">
      home/channel/sidebar
    </button>
    <button [routerLink]="['/home/channel/' + channelId]">home/channel</button>
    <button
      [routerLink]="[
        '/home/channel/' + channelId + '/thread/' + thradId + '/sidebar'
      ]"
    >
      home/channel/thread/sidebar
    </button>
    <button
      [routerLink]="['/home/channel/' + channelId + '/thread/' + thradId]"
    >
      home/channel/thread
    </button>
    <button [routerLink]="[lastUrlService.currentUrl, 'createChannel']">
      createChannel
    </button>
  </div>
</div>
