.contentContainer {
  position: absolute;
  height: calc(100vh - 60px);
  width: 20vw;
  background-color: red;
}

@keyframes slideOut {
  0% {
    left: 0; /* Startposition */
  }
  100% {
    left: -20vw; /* Endposition für die Ausblendung */
  }
}

@keyframes slideIn {
  0% {
    left: -20vw; /* Startposition für die Einblendung */
  }
  100% {
    left: 0; /* Endposition */
  }
}

.transOut {
  animation: slideOut 0.3s linear forwards; /* Animation für das Ausblenden */
}

.transIn {
  animation: slideIn 0.3s linear forwards; /* Animation für das Einblenden */
}

.stayOut {
  left: -20vw;
}

.stayIn {
  left: 0;
}
