@font-face {
  font-family: "Nunito";
  src: url("./../src/assets/font/Nunito-Bold.ttf");
  font-weight: 700;
}

@font-face {
  font-family: "Nunito";
  src: url("./../src/assets/font/Nunito-Regular.ttf");
  font-weight: 400;
}

* {
  font-family: "Nunito";
}

body {
  margin: 0;
}

.app-thread {
  transition: width 0.3s;
}

.d-none {
  display: none !important;
}
p {
  margin: 0;
}
.cursor-pointer {
  cursor: pointer;
}

button {
  cursor: pointer;
}

/* width */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: transparent;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #797ef3;
  border-radius: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #444df2;
  border-radius: 10px;
  cursor: pointer;
}

.tagHighlight {
  display: inline-block;
  background-color: #797ef3 !important;
  color: #fff;
  padding: 4px;
  margin: 0 4px;
  border-radius: 4px;
  cursor: pointer;
  min-width: 50px; /* Beispielsweise */
  line-height: 24px !important;
}
