@font-face {
  font-family: "Nunito";
  src: url("./../src/assets/font/Nunito-Bold.ttf");
  font-weight: 700;
}

@font-face {
  font-family: "Nunito";
  src: url("./../src/assets/font/Nunito-Regular.ttf");
  font-weight: 400;
}

* {
  font-family: "Nunito";
}

body {
  margin: 0;
}

.app-thread {
  transition: width 0.3s;
}

.d-none {
  display: none !important;
}
p {
  margin: 0;
}
.cursor-pointer {
  cursor: pointer;
}
