.contentContainer {
  position: absolute;
  height: calc(100vh - 60px);
  width: 25vw;
  background-color: #eceefe;
  right: -25vw;
}

.content {
  width: calc(100% - 20px);
  margin-right: 20px;
  background-color: red;
  height: calc(100vh - 60px - 25px);
}

@keyframes slideIn {
  from {
    right: -25vw;
  }
  to {
    right: 0;
  }
}

@keyframes slideOut {
  from {
    right: 0;
  }
  to {
    right: -25vw;
  }
}

.transIn {
  animation: slideIn 0.3s linear forwards;
}

.transOut {
  animation: slideOut 0.3s linear forwards;
}

.stayOut {
  right: -25vw;
}

.stayIn {
  right: 0;
}
