.contentContainer {
  height: 100vh;
  width: 25vw;
  background-color: blue;
  position: absolute;
  right: -25vw;
  overflow: hidden;
}

@keyframes slideIn {
  from {
    right: -25vw;
  }
  to {
    right: 0;
  }
}

@keyframes slideOut {
  from {
    right: 0;
  }
  to {
    right: -25vw;
  }
}

.transIn {
  animation: slideIn 0.3s linear forwards;
}

.transOut {
  animation: slideOut 0.3s linear forwards;
}

.stayOut {
  right: -25vw;
}

.stayIn {
  right: 0;
}
